body {
    margin: 0px;
    height: 100%;
}

.header {
    padding: 15px 0;
    background-color: wheat;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
}

.logo-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    border: 0px solid green;
}

.logo-content-img {
    border: 0px solid blue;
    padding: 5px;
}

.emp-text {
    font: normal normal bold 20px/25px Montserrat;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0px;
    color: seagreen;
    text-transform: capitalize;
}

.emp-payroll {
    color: navy;
}

.form-content {
    min-height: calc(100%-80px);
    background-color: gold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
}

.form {
    width: 65%;
    padding: 44px 60px;
    background: white 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px grey;
    border: 1px solid skyblue;
    border-radius: 8px;
    opacity: 1;
}

.form-head {
    font: normal normal bold 24px/37px Arial;
    letter-spacing: 0px;
    color: #42515f;
    text-transform: capitalize;
    opacity: 1;
    padding-bottom: 20px;
}

.row-content {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
    border: 0px solid green;
}

.label {
    min-width: 140px;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.text {
    font-size: 16px;
    color: blue;
    opacity: 1;
    font-family: Arial, Helvetica, sans-serif;
}

.input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.profile-radio-content {
    display: flex;
    flex-direction: row;
}

.profile-radio-content>label {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile {
    width: 40px;
    border-radius: 50%;
    margin-left: 12px;
}

.salary-label {
    width: 35%;
}

select {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font: normal normal normal 16px Arial;
    letter-spacing: 0px;
    color: black;
    background-color: transparent;
}

.buttonParent {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    margin-top: 20px;
}

.button {
    font-size: 20px;
    font-family: Arial;
    letter-spacing: 0px;
    color: black;
    opacity: 1;
    background: transparent;
    border: 1px solid navy;
    font-weight: 400;
    min-width: 140px;
    padding: 7px 7px;
    cursor: pointer;
    background-color: lightblue;
}

.submitButton {
    background-color: lightgreen;
    margin-right: 30px;
}

.cancelButton {
    text-decoration: none;
    text-align: center;
    background-color: red;
}

error-output {
    margin-left: 10px;
    font-size: 12px;
    font-style: Bold;
    color: red;
}

* {
    box-sizing: border-box;
}

@media only screen and (max-width: 960px) {
    .cancelButton {
        margin-left: 0px;
    }
    .form {
        width: 85%;
        padding: 44px 20px;
    }
}

@media only screen and (max-width: 600px) {
    .form {
        margin-top: 100px;
    }
    .row {
        flex-direction: column;
    }
    .uploadButton {
        justify-content: flex-start;
    }
    .profile-radio-button {
        flex-flow: wrap;
    }
    .submit-reset {
        width: 100%;
        display: flex;
        flex-grow: 1;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .submitButton {
        margin: 0;
    }
    .buttonParent {
        flex-direction: column-reverse;
        align-items: flex-start;
    }
}